.historia {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

@media (max-width:400px) {
    .historia {
        width: 380px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }
}
